# temporary files, including nbproject/build-impl.xml~
*~

target/

.classpath
.project
.settings
.checkstyle
.idea

nb-configuration.xml
nbactions.xml

build-impl.xml
**/nbproject/private/

build/
dist/
/DbMapperAdd/build